.menu {
    &__item {
        width: 350px;
        min-height: 400px;
        background-color: #fff;
        box-shadow: 5px 5px 45px rgba(256,256,256,.1);
        border-radius: 8px;
        padding: 20px;
        margin-right: 40px;
        margin-bottom: 40px;
    }
    &__title_sm {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }
    &__img {
        width: calc(100% + 40px);
        transform: translateX(-20px);
        height: 240px;
        object-fit: cover;
        margin-bottom: 20px;
    }
    &__category, &__price {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 10px;
        span {
            font-weight: 700;
        }
    }
    &__btn {
        width: 150px;
        height: 40px;
        border: none;
        background-color: #29a745;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
    &__catImg {
        position: absolute;
        content: '';
        bottom: 18px;
        right: 11px;
        width: 160px;
        height: 110px;
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.pizza_big {
    background-image: url("../../img/pizza.png");
}
.salads_big {
    background-image: url("../../img/salads.png")
}
.meat_big {
    background-image: url("../../img/meat.png");
}
.pointer {
    cursor: pointer;
    text-decoration: none;
    color: black;
}